@import "tailwindcss";

body {
  background-color: #0a192f;
  background-image: radial-gradient(circle at 1px 1px, rgba(255,255,255,0.1) 1px, transparent 0);
  background-size: 20px 20px;
  color: #e2e8f0;
}